 <!-- Contenedor del Sidebar -->
    <div class="pt-27 lg:pl-69">
      <!-- Overlay para el sidebar en móvil -->
      <div
        id="overlay"
        class="fixed top-13 inset-x-0 bottom-0 bg-black/50 z-40 hidden lg:hidden"
      ></div>
<aside
  id="sidebar"
  class="fixed top-13 inset-y-0 left-0 z-50 w-70 bg-indigo-900 p-6 flex-col transform -translate-x-full transition-transform lg:translate-x-0 lg:flex">
  <!-- Boton cerrar solo en telefono -->
  <button
    id="closeBtn"
    class="flex ml-auto rounded-xs lg:hidden mb-3 text-white text-xl hover:bg-indigo-400 transition-colors duration-200"
  >
    ✖
  </button>

  <nav id="bplegable" class="flex-1 mt-1 space-y-2.5">
    <div class="relative">
      <button
        id="bdesplegable"
        class="flex items-center w-42 p-2 ml-8 mr-8 rounded-md text-white bg-indigo-700 hover:bg-indigo-600 shadow-md transition-colors duration-200"
        type="button"
      >
        <img src="assets/icons/wupload.png" class="w-5 h-5 ml-3" />
        <span class="ml-1.5">Nuevo archivo</span>
      </button>
      <div
        id="mdesplegable"
        class="absolute right-8 z-10 mt-1 overflow-hidden bg-indigo-700 rounded-md shadow-lg whitespace-nowrap origin-top-right transition-all duration-300 ease-out opacity-0 scale-y-0 pointer-events-none"
      >
        <ul>
          <li
            class="w-42 py-2 text-white hover:bg-indigo-500 text-center transition-colors duration-200"
          >
            <a href="dsaren.html" class="block">Documentos Saren</a>
          </li>
          <li
            class="w-42 py-2 text-white hover:bg-indigo-500 text-center transition-colors duration-200"
          >
            <a href="#" class="block">Opción 2</a>
          </li>
          <li
            class="w-42 py-2 text-white hover:bg-indigo-500 text-center transition-colors duration-200"
          >
            <a href="#" class="block">Opción 3</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="my-6 -mx-6 border-t border-indigo-200" />

    <div class="mt-0" id="nav-links">
      <a href="principal.html" class="nav-link block p-3 -mx-6 text-sm font-semibold text-indigo-200 hover:bg-indigo-700 hover:text-white hover:shadow-md transition-all duration-200">🏠 Inicio</a>
      <a href="#" class="nav-link block p-3 -mx-6 text-sm font-semibold text-indigo-200 hover:bg-indigo-700 hover:text-white hover:shadow-md transition-all duration-200">📑 Documentos</a>
    </div>
  </nav>

  <div class="mt-auto">
    <a
      href="#"
      class="block p-3 my-6 -mx-6 text-sm font-semibold text-indigo-200 hover:bg-indigo-700 hover:text-white hover:shadow-md transition-all duration-200"
      >⚙️ Configuración</a
    >
  </div>
</aside>