<!-- Contenedor fijo para ambos encabezados -->
<div class="fixed top-0 left-0 w-full bg-white shadow-lg">
  <!-- Topbar principal (Logo y Menú de usuario) -->
  <header class="flex items-center h-13 px-4">
    <!-- IZQUIERDA: botón móvil y logo -->
    <div class="flex items-center">
      <button id="menuBtn" class="p-2 text-gray-700 lg:hidden">☰</button>
      <a href="principal.html">
        <img src="assets/logos/gestartlylogo.png" class="h-6 lg:h-9 mx-2" alt="Logo"
      /></a>
    </div>
    <!-- DERECHA: notificaciones + usuario -->
    <div class="ml-auto flex items-center gap-4 mx-6 z-123456789">
      <div class="relative" id="userMenuWrapper">
        <button
          id="userMenuBtn"
          class="flex items-center gap-2 focus:outline-none select-none"
        >
          <img src="assets/img/profile-demo.jpg" class="h-8 w-8 rounded-full" />
          <span class=" lg:block text-sm font-semibold text-gray-900"
            >Zulma Pinto</span
          >
          <img
            id="arrowIcon"
            src="assets/icons/flecha.png"
            alt="Abrir menú"
            class="w-4 h-4 ml-1 transition-transform duration-200"
          />
        </button>
        <div
          id="userDropdown"
          class="absolute right-0 mt-1 w-38 bg-white rounded-md shadow-lg transition-all duration-200 origin-top scale-95 opacity-0 pointer-events-none"
        >
          <a
            href="index.html"
            class="text-center block px-3 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
            >Cerrar sesión</a
          >
        </div>
      </div>
    </div>
  </header>

  <!-- Header de la barra de búsqueda -->
  <header class="flex px-2 items-center h-14 border-t border-gray-200 lg:pl-69">
    <!-- CENTRO: buscador -->
    <form class="flex-1 flex justify-center px-4 w-full">
      <div class="w-full relative">
        <label
          for="search-input"
          class="absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <span class="sr-only">Buscar</span>
          <img src="assets/icons/lupa.png" alt="" class="w-5 h-5 object-contain" />
        </label>
        <input
          type="search"
          id="search-input"
          placeholder="Buscar..."
          class="w-full border rounded pl-10 pr-2 py-2 text-sm bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500"
        />
        <button
          type="submit"
          class="text-white absolute bg-indigo-700 hover:bg-indigo-900 font-medium rounded-r px-5 text-sm p-2.5 h-full end-0 transition-colors duration-200"
        >
          Buscar
        </button>
      </div>
    </form>
  </header>
</div>